* {
  margin: 0;
  padding: 0;
  outline:0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  font-size: 18px !important;
  display: none; 
}

.logo-git {
  width: 52px;
  height: 52px;
}

.search-header {
  color: #8245BF !important;
  font-weight: bold;
  font-size: 28px;
}

.search-bar {
  width: 100%;
}

.search-button {
  width: 100%;
}

.repo-icon {
  width: 105px;
  height: 105px;
}

.repo-name {
  font-weight: bold;
  font-size: 32px;
}

.repo-subtitle {
  font-size: 18px;
  padding-bottom: 20px;
}

.repo-info {
  margin: 0 300px;
}

.atualizacao {
  margin: 0 8px 0 450px ;
}